.detail {
  .title {
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    padding: 5px 0;
    letter-spacing: 0em;
    margin-bottom: 18px;
  }

  .record {
    display: flex;
    align-items: center;
    height: 32px;
    .label {
      display: flex;
      gap: 10px;
      min-width: 200px;
    }

    .value {
      flex: 1;
    }

    .label, .value {
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
    }
  }
}
