.wrapper {
  background-color: #fafcf8;

  .container {
    max-width: 1176px;
    margin: 0 auto;
    padding: 52px 12px;
    position: relative;
    z-index: 200;

    .image {
      width: auto;
      height: 330px;
      object-fit: cover;
    }

    .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      gap: 16px;

      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        background-color: #D7E9BB;
        padding: 12px 16px;
        color: #627D36 !important;
        border-radius: 8px;
        width: max-content;
      }

      .bank {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        background-color: #FFFFFF;
        box-shadow: rgba(99, 99, 99, 0.15) 0 2px 8px 0;
        gap: 16px;
        width: max-content;
        border-radius: 8px;

        &:hover {
          cursor: pointer;
          transition: all 0.3s linear;
          box-shadow: rgba(74, 111, 115, 0.5) 0 4px 10px 0;
        }

        img {
          height: 50px;
          width: 112px;
          object-fit: cover;
        }
      }
    }


  }
}

