/*table*/
.table-no-border-radius {
  .ant-table-container table > thead > tr:first-child > *:first-child {
    border-radius: 0 !important;

    .table-no-border-radius .ant-table-container table > thead > tr:first-child > *:last-child {
      border-radius: 0 !important;
    }
  }
}

/*form*/
.form-item-label-no-colon {
  .ant-form-item-label > label::after {
    content: '' !important;
  }
}

//input
.bg-input-group-after {
  .ant-input-group .ant-input-group-addon {
    background: #fff;
  }

}
