* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100vh;
  max-width: 100vw;
}

#__next {
  height: 100%;
}

.color-gray_1 {
  color: #00000073 !important;
}

.ant-table-row {
  cursor: pointer;
}

.one-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.two-line-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/*animate loop scroll*/

.animate-loop-scroll {
  animation: loop-scroll 80s linear infinite;
}

@keyframes loop-scroll {
  0% {
    transform: translateX(0)
  }

  to {
    transform: translateX(-100%)
  }
}

@keyframes loop-scroll-right {
  0% {
    transform: translateX(-100%)
  }

  to {
    transform: translateX(0)
  }
}

.animate-loop-scroll-right {
  animation: loop-scroll-right 80s linear infinite
}


::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(80, 79, 79, 0.2);
  border-radius: 10px;
}


.ant-menu-item {
  transition: none !important;
}

.ant-menu-item * {
  transition: none !important;
}

.ant-menu-item-selected {
  background-color: #157E82 !important;
  transition: none !important;
  color: white !important;
}

.ant-menu-item-selected * {
  transition: none !important;
}

.one-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ant-layout-sider-trigger{
  border-right: 2px solid rgba(5, 5, 5, 0.06);
}

.security .ant-menu-item{
  background-color: transparent !important;
  color: black !important;
}

.ant-modal.statistic{
  width: unset !important;
  min-width: 520px;
}
