.dashboardLayout {
  height: 100%;
  .sider {
    background-color: #FFFFFF!important;
    .siderContent {
      border-right: 1px solid rgba(5, 5, 5, 0.06);
      display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      .logo {
        width: 140px;
        align-self: center;
        margin-top: 24px;
      }
      .menu {
        flex: 1;
      }
    }
  }
  .content {
    .header {
      background-color: #FFFFFF;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      border-bottom: 1px solid #F0F0F0;
      .right {
        display: flex;
        flex-direction: row;
        gap: 16px;
        align-items: center;
        justify-content: center;
        .user {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          gap: 10px;
          cursor: pointer;
          padding: 0 10px;

          &:hover {
            background-color: #00000011;
          }
        }
      }
    }

    .info {
      padding: 16px 24px;
      background-color: #FFFFFF;
     .breadcrumb {
       margin-bottom: 8px;
     }
      .title {
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        text-align: left;
      }
    }
    .pageContent {
      padding: 28px 0;
      width: 100%;
    }
  }
}
