.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f7fa;
  box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;
  overflow: hidden;
  z-index: 200;
}

.header {
  max-width: 1176px;
  width: 1176px;
  padding-inline: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 140px;
    align-self: center;
  }

  .navbar {
    display: flex;
    align-items: center;
    gap: 16px;

    a {
      color: #595959;
      padding-inline: 16px;
      padding-block: 20px;
      cursor: pointer;
      font-size: 14px;
      position: relative;

      &:hover {
        color: #4A6F73;
        &:before {
          position: absolute;
          content: "";
          height: 3px;
          width: 20px;
          background-color: #4A6F73;
          bottom: 0;
          right: 0;
          left: 0;
          margin: 0 auto;
        }
      }

    }

    .active {
      color: #4A6F73 !important;

      &:before {
        position: absolute;
        content: "";
        height: 3px;
        width: 20px;
        background-color: #4A6F73;
        bottom: 0;
        right: 0;
        left: 0;
        margin: 0 auto;
      }
    }
  }


  .loginButton {
    font-size: 14px !important;
    color: #4A6F73;

    &:hover {
      color: #4A6F73 !important;
    }
  }

  .registerButton {
    font-size: 14px !important;
  }
}